.container {
  width: 300px;
}

.divider {
  background-color: #fff;
  width: 15px;
  padding: 5px;
}

.divider::after {
    content: '';
  position: absolute;
  width: 89%;
  border-top: 1px solid #ccc;
  left: 19px;
  margin-top: -10px;
  z-index: -10;
}

.fit-width {
  width: 95%;
}
